<div class="row w-100 h-100">
  {{#each this.teamSlots as |slot|}}
    <div class="col-4 h-50">
      <Builder::PokemonSlot
        @value={{slot.id_pokemon}}
        @slot-id={{slot.id}}
        @options={{this.pokemonList}}
        @onChange={{this.selectedOption}}
      />
    </div>
  {{/each}}
</div>