<div class="d-flex container vh-100 justify-content-center align-items-center">

  <div class="row h-50 w-75 bg-light">
    <div class="col-4">
      <Builder::CharacterStats />
    </div>
    <div class="col-8">
      <Builder::PokemonSelector />
    </div>
  </div>
</div>