<div class="d-flex container vh-100 justify-content-center align-items-center">

  <div class="bg-jordy rounded d-flex flex-column p-4">
    <h2>Cadastro de personagem</h2>
    <div class="pt-3">
      <Character::Character />
    </div>
  </div>
</div>